<div class="components-header">
  <div class="container">
    <div class="logo-box">
      <img src="../../assets/images/ucc_logo.png">
    </div>
    <div class="nav-box">
      <ul>
        <li>
          <router-link :to="{name:'home.index'}">首页</router-link>
        </li>
        <li>
          <router-link :to="{name:'product.index'}">产品</router-link>
        </li>
        <li>
          <router-link :to="{name:'technology.index'}">技术</router-link>
        </li>
        <li>
          <router-link :to="{name:'riding.index'}">骑行</router-link>
        </li>
        <li>
          <router-link :to="{name:'about.index'}">UCC</router-link>
        </li>
      </ul>
    </div>
  </div>
</div>