<div class="components-footer">
  <div class="container">
    <div class="logo-box">
      <img src="../../assets/images/ucc_logo.png">
      <p>&copy;2017 UCC Copyright</p>
    </div>
    <div class="nav-box">
      <div class="text-box">
        <div class="text">
          <p>UCC中国行销支持中心</p>
          <p>010-58766973/58766923</p>
          <p>lgxbike@uccbicycle.com</p>
        </div>
        <div class="text">
          <p>UCC河南省分公司</p>
          <p>15188328401</p>
          <p>cssbike@uccbicycle.com</p>
        </div>
      </div>
      <div class="a-box">
        <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=zrPw9j0fdp3wHYyDtO4DyEpYu121q2247Ptf-ccQV_t2t3t1g7pL!-2113647171" target="_blank">
          粤ICP备12041523号 </a>
        <a href="https://weibo.com/uccbicycle?from=myfollow_all&is_all=1" class="a-img" target="_blank"></a>
      </div>  
    </div>
  </div>
</div>